<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
        Our Address
        <br>
        121, Clear Water Bay Road
        <br>
        Clear Water Bay, Kowloon
        <br>
        HONG KONG
        <br>
        <i class="icon ion-ios-telephone"></i>Tel: +852 1234 5678
        <br>
        <i class="icon ion-printer"></i>Fax: +852 8765 4321
        <br>
        <i class="icon ion-email"></i>Email:confusion@food.net
      </div>
      <div class="button-bar">
        <div class="button button-positive"><i class="icon ion-ios-telephone"></i> Call</div>
        <div class="button button-calm"><i class="icon ion-social-skype"></i> Skype</div>
        <div class="button button-balanced"><i class="icon ion-email"></i> Email</div>
      </div>
    </div>


  </ion-content>
</ion-view>
